:root {
  --c-primary-300: hsl(0, 36%, 70%);
  --c-primary-400: hsl(0, 93%, 68%);

  --c-neutral-400: hsl(0, 6%, 24%);

  --c-gradient-300: linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --c-gradient-400: linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

  --ff-primary: 'Josefin Sans', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-light: 300;
  --fw-regular: 500;
  --fw-bold: 600;

  --fs-600: 1rem;
  --fs-700: 1.5rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
  
  --fs-body: var(--fs-600);
  --fs-button: var(--fs-700);
  --fs-primary-heading: var(--fs-800);
}

@media (min-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-900);
  }
}
