:root {
  --c-primary-100: hsl(354, 22%, 83%);
  --c-primary-300: hsl(0, 36%, 70%);
  --c-primary-400: hsl(0, 93%, 68%);

  --c-neutral-100: hsl(0, 0%, 70%);
  --c-neutral-400: hsl(0, 6%, 24%);

  --c-gradient-300: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --c-gradient-400: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  --ff-primary: 'Josefin Sans', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-light: 300;
  --fw-regular: 500;
  --fw-bold: 600;

  --fs-400: .9rem;
  --fs-600: 1rem;
  --fs-700: 1.5rem;
  --fs-800: 2.5rem;
  --fs-900: 4rem;
  
  --fs-body: var(--fs-600);
  --fs-button: var(--fs-700);
  --fs-primary-heading: var(--fs-800);

  --border-radius: 50rem;
  --body-padding: 1.5rem;
  --input-padding: 1rem;

  --content-width: 28rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-primary-300 {
  color: var(--c-primary-300);
}

.text-primary-400 {
  color: var(--c-primary-400);
}

.text-neutral-400 {
  color: var(--c-neutral-400);
}

.bg-primary-300 {
  background-color: var(--c-primary-300);
}

.bg-gradient-300 {
  background-image: var(--c-gradient-300);
}

.bg-gradient-400 {
  background-image: var(--c-gradient-400);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-error {
  font-size: var(--fs-400);
}

/* General styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--c-primary-300);
}

header {
  padding-left: var(--body-padding);
  margin-block: 2rem;
}

.logo {
  height: 25px;
}

.hero img {
  object-fit: cover;
  object-position: top left;
}

.hero__mobile img {
  width: 100%;
  height: 250px;
}

.hero__desktop {
  display: none;
}

.content {
  text-align: center;
  padding-inline: var(--body-padding);
  max-width: var(--content-width);
  margin: 3rem auto 5rem;
}

.content__header {
  text-transform: uppercase;
  letter-spacing: .75rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.content__description {
  margin-bottom: 2rem;
}

.form {
  position: relative;
}

.form__btn {
  background-image: var(--c-gradient-400);

  position: absolute;
  right: -0.1rem;
  top: -0.1rem;
  bottom: -0.1rem;

  padding: .75rem 1.75rem;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 0.5rem 1.25rem var(--c-neutral-100);
}

.form__email {
  width: 100%;
  padding: .75rem 1rem;

  /* Using a box shadow instead of a border so the size doesn't change by going
   * from 1px when email is valid to 2px when it is invalid */
  border: none;
  box-shadow: 0 0 0 1px var(--c-primary-100);
  border-radius: var(--border-radius);
  background-color: transparent;
}

.form__email::placeholder {
  color: var(--c-neutral-100);
}

.form__email:focus {
  outline: none;
}

.form__email:not(:placeholder-shown):invalid {
  box-shadow: 0 0 0 2px var(--c-primary-400);
}

.form__error-icon,
.form__error-message {
  position: absolute;
  display: none;
}

.form__error-icon {
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
}

.form__error-message {
  text-align: left;
  color: var(--c-primary-400);

  margin-top: .5rem;
  padding-left: var(--input-padding);
}

.form__email:not(:placeholder-shown):invalid ~ .form__error-message,
.form__email:not(:placeholder-shown):invalid ~ .form__error-icon {

@media (min-width: 60em) {
  :root {
    --fs-primary-heading: var(--fs-900);
    --input-padding: 1.5rem;
    --body-padding: 0;
  }

  body {
    display: grid;
    grid-template-columns: 1.15fr 0.85fr;
  }

  main {
    min-height: 100vh;
    background-image: url("./images/bg-pattern-desktop.svg"), var(--c-gradient-300);
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 3.625rem;
  }

  header {
    width: var(--content-width);
    margin-inline: auto;
    margin-top: 4rem;
  }

  .logo {
    height: 100%;
  }

  .hero__mobile {
    display: none;
  }

  .hero__desktop {
  display: block;
    min-height: 100%;
    max-height: 100vh;
    overflow: hidden;
  }

  .hero__desktop img {
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    padding-top: 0;
    text-align: left;
    margin-top: 8.5rem;
  }

  .content__header {
    line-height: 1.05;
    letter-spacing: 1.15rem;
    margin-bottom: 1.5rem;
  }

  .content__description {
    line-height: 1.7;
    margin-bottom: 2.5rem;
  }

  .form__btn {
    padding-inline: 2.75rem;
  }

  .form__email {
    padding-block: 1rem;
  }

  .form__error-icon {
    right: 7.5rem;
  }
}